# raw files
data/

# Terraform state
*.tfstate
*.tfstate.backup

# Sensitive input values
terraform.tfvars
*.auto.tfvars

# .terraform working directory
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Plan files
*.tfplan

# Environment variables
.env

# Virtual environments
sunshine_dbt_venv/
venv/
*.venv/

# ignore service account keys
*.json

# Airflow runtime files and logs
airflow/*.log
airflow/*.out
airflow/logs/*


# You might also want to ignore other common Airflow runtime files
airflow/airflow-webserver.pid
airflow/airflow-scheduler.pid
airflow/unparseable/

# Python cache
__pycache__/
*.pyc

# dbt compiled artifacts
sunshine_dbt/target/
sunshine_dbt/dbt_packages/